NODE_ENV=production

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=mydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_SSL=false

AWS_PROFILE=restaurant-inventory
AWS_REGION=us-east-1
S3_BUCKET_NAME=restaurant-inventory-production-12345