@use './variables' as *;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
  background-color: $background;
  color: $text-dark;
}

a {
  text-decoration: none;
  color: inherit;
}
