name: CI 

on: 
  push: 
    branches: [main]
  pull_request: 
    branches: [main]

jobs: 
  build: 
    runs-on: ubuntu-latest  

    steps: 
      - name: Checkout repository 
        uses: actions/checkout@v4 

      - name: Setup Node.jobs 
        uses: actions/setup-node@v4 
        with: 
          node-version: 24 
          cache: npm 

      - name: Install dependencies 
        run: npm install 

      - name: Run ESLint 
        run: npm run lint
